@using AppointmentScheduleSystem.Controllers
@model Company

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-text">
                    <h2>@Model.Name</h2>
                    <div class="div-dec"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- ***** Main Banner Area End ***** -->

    <section class="main-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="left-image">
                                <img src="@Model.Image" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="right-text-content">
                                <i class="fas fa-archive"></i>
                                <list>
                                    <ul>
                                        <h6>Description: @Model.Description</h6>
                                    </ul>
                                    <ul>
                                        <h6>Email: @Model.Email</h6>
                                    </ul>
                                    <ul>
                                        <h6>Phone: @Model.Phone</h6>
                                    </ul>
                                </list>
                                <div class="green-button">
                                    @
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

  <section class="white-section"></section>

</body>